footer{
    background-color: #242424;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__logo{
        margin: 3rem 0;
        height:4.5rem ;
        width: 16.4rem;
        .icon{
            position: relative;
            height: 100%;
            width: 100%;
            display: inline-block;
            background: url("../assets-image/svgs/logo.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            &::after{
                position: absolute;
                content: "";
                display: inline-block;
                height: 5px;
                width: 100%;
                background:$brown;
                top: -3rem;
                left:0
            }
        }
        
    }

    &__links{
        @include breakpoint-up(medium){
            display: flex;
            margin: 1rem;
        }
        
        li{
            margin-bottom: 3rem;
            @include breakpoint-up(medium){
                margin-bottom: 0;
                margin-left: 2rem;
            }
            

           &:not(:last-child){
               margin-bottom: 2rem;
           }

        }
    }

    &--link{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.3rem; 
        font-weight: 400;
        color: $white !important;
    }

    &__text{
        color: gray;
        font-weight: 200;
        margin-bottom: 3rem;
    }

    &__copyright{
        color: gray;
        font-weight: 200;
        margin-bottom: 3rem;
    }

    &__logos{
        display: flex;
        
        margin-bottom: 3rem;
        li{
            
            height: 2.5rem;
            width: 2.5rem;
            margin: 0 1rem;
        }
        .logo--1{
            background: url("../assets-image/svgs/icon-facebook.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

        }
        .logo--2{
            background: url("../assets-image/svgs/icon-twitter.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

        }
        .logo--3{
            background: url("../assets-image/svgs/icon-instagram.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

}