@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Nunito', sans-serif;

}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a,a:link, a:visited{
    text-decoration: none;
    font-weight: 500;
    color: gray;

}

li{
    list-style: none
}

body{
    background: #fff;
    font-size: 1.6rem;
    position: relative;
}

.app-container{
    margin: 0 auto;
    max-width: 192rem;
}

.container{
    margin: 0 1.8rem;
    
    @include breakpoint-up(medium){
        margin: 0 6rem;
     }
    @include breakpoint-up(large){
        margin: 0 10rem;
     }
}

.btn{ 
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: $brown;
    color: $white !important;
    transition: transform .2s;

    @include breakpoint-up(medium){
        padding: 1.2rem 2.5rem;
    }
    @include breakpoint-up(large){
        padding: 1.6rem 3rem;
    }

    &:hover{
        transform: scale(1.1)
    }
    &:active{
        transform: scale(0.9)
    }
}

.alert-text{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 10px;
    margin-bottom: 2rem;
    color: gray;
}


.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


.display-flex{
    display: flex;
    &--jc-space{
        justify-content: space-between;
    }
    &--jc-center{
        justify-content: center;
    }
}



// Products Tabs
// .products{
//     .card{
//         background-color: $brown;
//         margin: 2rem 0;
//         padding: 2rem;
//         border-radius: 10px;

//         img{

//         }
//         .tab{

//             &__text{
                

//                 &--heading{
//                     font-size: 2.5rem;
//                     font-weight: 500;
//                     @include breakpoint-up(medium){
//                         font-size: 3.5rem;
//                     }
//                     margin-bottom: 3rem;
//                     color: $white;
//                 }
//                 &--sub-heading{
//                     color: #eee;
//                     margin-bottom: 3rem;
//                     @include breakpoint-up(medium){
//                         padding-right: 30rem;
//                     }
//                 }
//             }

//         }

//         .btn--black{
//             background-color: #242424;
//             color: $white;
//         }
//     }
// }



