.item {
  @include breakpoint-up(medium) {
    display: flex;
    flex-wrap: wrap;
  }

  &--image {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    @include breakpoint-up(medium) {
      width: 50%;
      max-width: 60rem;
    }
    @include breakpoint-up(large) {
      max-width: 65rem;
      margin-bottom: 10rem;
    }
    @include breakpoint-up(large) {
      margin-bottom: 15rem;
    }
  }
  &__text {
    margin-bottom: 5rem;

    @include breakpoint-up(medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;
      max-width: 50rem;
      margin-top: 3rem;
      margin-bottom: 5rem;
      margin-left: 3rem;
      text-align: left;
    }
    @include breakpoint-up(large) {
      width: 35%;
      margin-left: 10rem;
      margin-bottom: 10rem;
    }
    @include breakpoint-up(xlarge) {
      margin-left: 20rem;
      margin-bottom: 15rem;
    }
  }

  &--heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  &--description {
    color: gray;
    margin-bottom: 2rem;
  }
  &--price {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  &--counter {
    // padding: 1rem 2rem;
    padding: 1rem 0;
    background-color: #eee;
    font-size: 1.4rem;
    margin-right: 1rem;
    @include breakpoint-up(medium) {
    //   padding: 1.2rem 2.5rem;
      padding: 1.2rem 0;
    }
    @include breakpoint-up(large) {
    //   padding: 1.6rem 3rem;
      padding: 1.6rem 0;
    }
    span{
        margin: 0 1rem;
    }

    .left {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .right {
      font-size: 1.6rem;
      font-weight: 700;
    }
    .value{
        
    }
  }

  &__features {
    color: gray;
    h1 {
      color: #242424;
      margin-bottom: 1rem;
    }
    @include breakpoint-up(medium) {
      width: 60%;
    }
  }
  &__in-box {
    color: gray;
    margin: 2rem 0;
    h1 {
      color: #242424;
      margin-bottom: 1rem;
    }

    @include breakpoint-up(medium) {
      width: 31%;
      margin: 0 0;
      margin-left: 4rem;
    }
    @include breakpoint-up(large) {
      margin-left: 10rem;
    }

    &--text {
      .number {
        color: $brown;
        margin-right: 1.5rem;
      }
    }
  }
}
